{% extends "base.html" %} {% load static %} {% block head_content %}
{% endblock %} {% block content %}
  <div
    class="bg-image d-flex justify-content-center align-items-center px-5"
    style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp');
      height: 80vh;
    "
  >
    <h1 class="text-white">
      Djirection is a British-Irish band that formed in 2023. The group
      consisted of five members: Garry Guitar, Jack Thunder, Ruby Riot, Max
      Steel and Luna Starlight. Djirection rose to fame after finishing first on
      the seventh season of the British version of "The Dj Factor". They quickly
      gained a massive fan following and became one of the best-selling bands of
      all time.
    </h1>
  </div>

{% endblock %}
